body {
  max-width: 1440px;
  margin: 0 auto;
}

/* ===== HEADER ===== */

.nav_active {
  font-weight: 700;
}

.nav_icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.nav_badge {
  background-color: #292929;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.logo {
  margin: 15px 78px 15px 150px;
}

.header {
  background-color: #f5f3ef;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header_link {
  display: flex;
  list-style: none;
  color: #292929;
  flex-direction: row;
  padding-right: 150px;
  font-family: "inter";
  font-size: 14px;
  white-space: nowrap;
}

.header_link_left {
  gap: 44px;
}

.header_link_right {
  gap: 58px;
}

a {
  text-decoration: none;
  color: black;
}

/* ========== */

/* ===== FOOTER ===== */

.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  white-space: nowrap;
  padding: 23px 0;
}

.container {
  display: flex;
  padding-right: 46px;
  gap: 40px;
  font-family: "inter";
  font-size: 12px;
  white-space: nowrap;
}

/* ========== */

/* ===== HOME ===== */

.container_home {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f3ef;
  gap: 107px;
  padding-left: 290px;
}

.hero_text h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  max-width: 329px;
}

.hero_text p {
  font-family: "inter";
  font-size: 16px;
  font-weight: 300;
  max-width: 328px;
  padding-bottom: 40px;
}

.hero_image img {
  width: 404px;
  height: 539px;

  padding-top: 80px;
}

.hero_image_credit {
  font-style: italic;
  font-size: 12px;
  color: #a6a6a6;
  text-align: right;
  margin-top: 12px;
  padding-bottom: 101px;
}

.btn_decouvrir {
  display: inline-block;
  background-color: #00ac66;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 22px 38px 22px 38px;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
}

.btn_decouvrir:hover {
  background-color: #008a50;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

.book_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #faf9f7;
  padding-bottom: 64px;
}

.book_section h2 {
  padding: 80px 532px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.book_grid {
  display: flex;
  flex-direction: row;
  gap: 38px;
  padding-bottom: 48px;
}

.book_card {
  display: block;
  background-color: #ffffff;
  width: 200px;
}

.book_card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.book_title {
  font-family: "inter";
  font-size: 16px;
  font-weight: 400;
  padding-left: 14px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.book_author {
  font-family: "inter";
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a6;
  padding-left: 14px;
  padding-bottom: 8px;
}

.book_user {
  font-family: "inter";
  font-size: 10px;
  font-weight: 400;
  color: #a6a6a6;
  padding-left: 14px;
  padding-bottom: 22px;
}

.how_section {
  display: flex;
  background-color: #f5f3ef;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 102px;
}

.how_section h2 {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 400;
  width: 321px;
  height: 43px;
  margin: 0;
  padding-top: 80px;
}

.how_section h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  width: 397px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 40px;
}

.how_section p {
  margin: 0;
  width: 180px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
}

.how_grid {
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding-bottom: 48px;
  height: 139px;
}

.how_card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 215px;
  border-radius: 10px;
  background-color: #ffffff;
}

.btn_outline {
  display: inline-block;
  background-color: #f5f3ef;
  color: #00ac66;
  border: 2px solid #00ac66;
  padding: 22px 38px;
  border-radius: 10px;
}

.btn_outline:hover {
  background-color: #2eac69;
  color: white;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

.banner_section img {
  display: block;
  width: 100%;
}

.values_section {
  background-color: #f5f3ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.values_text h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  padding-top: 80px;
  padding-bottom: 29px;
  margin: 10px;
}

.values_text {
  display: flex;
  padding-bottom: 162px;
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;
}

.values_text p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  width: 392px;
  text-align: justify;
  margin: 10px;
}

.values_text h3 {
  display: flex;
  padding-bottom: 39px;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  color: #a6a6a6;
  font-style: italic;
  padding-left: 10px;
  margin: 0;
  padding-top: 39px;
}

.values_image {
  display: flex;
  align-self: flex-end;
  padding-left: 25px;
  padding-top: 80px;
  padding-bottom: 89px;
}

/* ========== */

/* ===== AUTH ===== */

.container_auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #faf9f7;
  overflow: hidden;
  height: 886px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 180px;
}

.auth_form h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  padding-bottom: 56px;
}

.auth_form input {
  width: 322px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.auth_form label {
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  color: #a6a6a6;
}

.auth_form p {
  display: flex;
  padding-bottom: 314px;
  padding-top: 40px;
}

.auth_form form {
  display: flex;
  flex-direction: column;
}

.auth_form button {
  display: inline-block;
  background-color: #00ac66;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 22px 38px 22px 38px;
  width: 322px;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  margin-top: 32px;
}

.auth_form a {
  text-decoration: underline;
  color: black;
}

.auth_form button:hover {
  background-color: #008a50;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

.auth_form_image {
  display: flex;
  justify-content: end;
  height: 886px;
  width: 720px;
  flex: 1;
}

.register {
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  color: #292929;
}

.auth_form h3 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
}

/* ========== */

/* ===== PROFILE ===== */

.container_profile {
  display: flex;
  background-color: #faf9f7;
  flex-direction: column;
}

.container_profile h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 26px;
  padding-left: 150px;
  padding-top: 90px;
}

.profile_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 33px;
  padding: 48px 155px 0px 150px;
  align-items: stretch;
}

.profile_card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 547px;
  min-height: 508px;
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
}

.profile_card form {
  display: flex;
  flex-direction: column;
}

.profile_card input {
  width: 322px;
  min-height: 50px;
  height: 50px;
  border-radius: 6px;
  border: 1px;
  background-color: #edf2f6;
  margin-bottom: 30px;
  flex-direction: column;
  padding-left: 14px;
}

.btn_profile_outline {
  display: inline-block;
  background-color: #f5f3ef;
  color: #00ac66;
  border: 2px solid #00ac66;
  padding: 22px 38px;
  border-radius: 10px;
  width: 150px;
  margin-bottom: 37px;
}

.btn_profile_outline:hover {
  background-color: #2eac69;
  color: white;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

.profile_card label {
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  color: #a6a6a6;
}

.profile_card p {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  padding: 36px 211px 26px 103px;
  white-space: nowrap;
  margin: 0;
}

/* ========== */

.profile_top {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 547px;
  min-height: 508px;
  border-radius: 10px;
  justify-content: center;
  gap: 16px;
  padding: 40px 0;
  box-sizing: border-box;
  align-items: center;
}

.photo_profile {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  object-fit: cover;
  margin-bottom: 5px;
}

.profile_top hr {
  width: 242px;
  margin-top: 48px;
  margin-bottom: 30;
}

.pseudo {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
}

.membre {
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  color: #a6a6a6;
}

.profile_top a {
  font-family: "inter";
  font-size: 14px;
  color: #292929;
  text-decoration: underline;
}

#profile_picture {
  display: none;
  padding-bottom: 48px;
}

.library {
  display: flex;
  font-size: 8px;
  font-weight: 600;
}

.library_icon {
  width: 10px;
  height: 14px;
  padding-top: 2px;
}

.library_section {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-bottom: 93px;
}

.library_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile_top p {
  margin: 0;
}

/* ========== */

.personal_library {
  padding: 0px 155px;
  background-color: #faf9f7;
  padding-bottom: 102px;
}

.personal_library table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.personal_library th {
  font-family: "inter";
  font-size: 8px;
  font-weight: 600;
  color: black;
  text-align: left;
  padding: 16px 24px;
  text-transform: uppercase;
}

.personal_library td {
  font-family: "inter";
  font-size: 12px;
  font-weight: 400;
  padding: 16px 24px;
  vertical-align: middle;
}

.td_description {
  font-style: italic;
  width: 128px;
  height: 62px;
}

.personal_library tr:nth-child(even) {
  background-color: #eef2f6;
}

.personal_library td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.badge_disponible {
  background-color: #2eac69;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.badge_indisponible {
  background-color: #e57373;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.personal_library .btn_edit {
  font-family: "inter";
  font-size: 14px;
  color: #292929;
  text-decoration: underline;
  margin-right: 16px;
}

.personal_library .btn_delete {
  font-family: "inter";
  font-size: 14px;
  color: #e57373;
  text-decoration: underline;
}

/* ===== PROFIL PUBLIC ===== */

.container_show_profile {
  display: flex;
  flex-direction: row;
  gap: 33px;
  padding: 103px 150px 212px 150px;

  background-color: #faf9f7;
  align-items: flex-start;
}

.show_profile_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 341px;
  border-radius: 10px;
  padding: 40px 24px;
  box-sizing: border-box;
  align-self: flex-start;
  min-height: 579px;
}

.show_profile_left .library_group {
  margin-top: 16px;
}

.show_profile_left .library_section {
  margin-bottom: 40px;
}

.show_profile_left_top hr {
  width: 242px;

  margin-bottom: 48px;
  border: none;
  border-top: 1px solid #f5f3ef;
}

.show_profile_left p {
  margin: 0;
}

.show_profile_left_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.show_profile_left img.photo_profile {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  object-fit: cover;
  margin-bottom: 70px;
}

.show_profile_right {
  flex: 1;
  border-radius: 10px;
  box-sizing: border-box;
  align-self: flex-start;
  min-height: 579px;
}

.show_profile_right table {
  width: 100%;
  min-height: 579px;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.show_profile_right thead tr {
  border-bottom: 1px solid #f5f3ef;
}

.show_profile_right th {
  font-family: "inter", sans-serif;
  font-size: 8px;
  font-weight: 600;
  color: #292929;
  padding-left: 66px;
  text-align: left;
  padding: 32px 24px 8px 24px;
  text-transform: uppercase;
  border-radius: 10px;
}

.show_profile_right th.th_photo {
  text-align: center;
  padding-right: 70px;
}

.show_profile_right td {
  font-family: "inter";
  font-size: 12px;
  font-weight: 400;
  padding: 16px 24px;
  vertical-align: middle;
  color: #292929;
}

.show_profile_right tr:nth-child(even) {
  background-color: #eef2f6;
}

.show_profile_right td img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.btn_message {
  display: inline-block;
  background-color: #f5f3ef;
  color: #00ac66;
  border: 2px solid #00ac66;
  padding: 16px 32px;
  border-radius: 10px;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn_message:hover {
  background-color: #2eac69;
  color: white;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

/* ========== */

/* ===== BOOK DETAIL ===== */

.breadcrumb {
  padding: 16px 85px;
  font-size: 12px;
  color: #a6a6a6;
  font-family: "Inter", sans-serif;
  background-color: #f5f3ef;
  padding-left: 150px;
}

.breadcrumb a {
  color: #a6a6a6;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #2eac69;
}

.container_book_detail {
  display: flex;
  flex-direction: row;
  background-color: #faf9f7;
}

.book_detail_left {
  width: 50%;
  max-height: 100vh;
  overflow: hidden;
}

.book_detail_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book_detail_right {
  width: 720px;
  display: flex;
  padding-top: 59px;
  padding-left: 85px;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.book_detail_right h1 {
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 400;
  color: #292929;
  margin: 0;
}

.book_author_detail {
  color: #a6a6a6;
  font-size: 14px;
  margin: 8px 0;
  padding: 0;
}

.book_detail_right hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  width: 40px;
  margin: 16px 0;
}

.book_description {
  text-align: justify;
  width: 485px;
  min-height: auto;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 14px;
  font-weight: 400;
}

.book_description_label,
.book_owner_label {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
}

.book_owner {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 50px;
  padding: 8px 32px 8px 8px;
  width: fit-content;
  background-color: #ffffff;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

.book_owner:hover {
  padding-right: 16px;
}

.book_owner:hover a {
  color: #2eac69;
}

.book_owner a {
  transition: color 0.3s ease;
}

.book_owner:hover img {
  filter: sepia(1) saturate(3) hue-rotate(90deg);
}

.book_owner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.btn_send_message {
  display: block;
  background-color: #2eac69;
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  width: 485px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.btn_send_message:hover {
  background-color: #27965b;
  color: white;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

/* ========== */

/* ===== EDIT ===== */

.container_edit_book {
  padding: 40px 155px;
  background-color: #f5f3ef;
  padding-bottom: 92px;
}

.btn_back {
  font-size: 14px;
  color: #292929;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.container_edit_book h1 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px;
  margin-top: 23px;
}

.edit_book_layout {
  display: flex;
  gap: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.edit_book_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 490px;
}

.edit_label {
  margin: 0px;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  padding-top: 56px;
}

.edit_book_left img {
  width: 488px;
  object-fit: cover;
  height: 488px;
}

#edit_picture {
  display: none;
}

#modifier_photo {
  font-size: 14px;
  text-decoration: underline;
  display: block;
  text-align: right;
  width: 100%;
}

.edit_book_right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.edit_book_right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 435px;
  align-self: flex-end;
  padding-right: 50px;
  margin-top: 56px;
  margin-bottom: 68px;
}

.edit_book_right label {
  font-size: 14px;
  color: #a6a6a6;
  font-family: "Inter", sans-serif;
}

.edit_book_right textarea {
  height: 383px;
  resize: none;
}

.edit_book_right input,
.edit_book_right textarea,
.edit_book_right select {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  background-color: #eef2f6;
  font-family: "Inter", sans-serif;
  margin-bottom: 32px;
}

.btn_valider {
  background-color: #2eac69;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  width: 200px;
}

.btn_valider:hover {
  background-color: #008a50;
  cursor: pointer;
  transition:
    padding-right 0.3s ease,
    background-color 0.3s ease;
}

/* ========== */

/* ===== LIST ===== */

.container_list {
  padding: 48px 155px;
  background-color: #faf9f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 81%;
}

.list_header h1 {
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 400;
  color: #292929;
}

.search_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  gap: 8px;
  height: 40px;
  width: 260px;
  padding-left: 16px;
}

.search_icon {
  width: 16px;
  height: 16px;
}

.search_wrapper input {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  font-family: "Inter", sans-serif;
  width: 220px;
  color: #a6a6a6;
}

.search_wrapper input::placeholder {
  color: #a6a6a6;
}

.search_wrapper button {
  display: none;
}

.books_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
}

.book_card_list {
  display: block;
  background-color: #ffffff;
  overflow: hidden;
  text-decoration: none;
  color: #292929;
  width: 200px;
  height: 324px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.book_card_list img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.book_card_list_info {
  padding: 16px 14px 14px 14px;
}

.book_card_list_info .book_title {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 6px 0;
  padding: 0;
}

.book_card_list_info .book_author {
  font-size: 14px;
  color: #a6a6a6;
  margin: 0 0 8px 0;
  padding: 0;
}

.book_card_list_info .book_user {
  font-size: 12px;
  color: #a6a6a6;
  margin: 23px 0 0 0;
  padding: 0;
}

/* ========== */

/* MESSAGING */

.messaging_container {
  display: flex;
  height: calc(100vh - 80px);
  background-color: #f5f3ef;
  gap: 0;
  padding-left: 150px;
}

.conversations_sidebar {
  background-color: #faf9f7;
  width: 300px;
  flex-shrink: 0;
}

.conversations_title {
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 400;
  color: #292929;
  padding: 55px 143px 27px 34px;
  margin: 0;
}

.conversation_item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  text-decoration: none;
  color: #292929;
  border-top: 1px solid #f5f3ef;
}

.conversation_item:hover,
.conversation_item.active {
  background-color: #ffffff;
}

.conversation_avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.conversation_pseudo {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
}

/* FORM */
.thread_form {
  display: flex;
  gap: 12px;
  margin: 98px 151px 98px 50px;
  width: 628px;
}

.thread_input {
  flex: 1;
  height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  outline: none;
}

.thread_send_btn {
  height: 48px;
  padding: 0 24px;
  background-color: #2eac69;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.thread_send_btn:hover {
  background-color: #27965b;
}

.thread_empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a6a6a6;
  font-size: 14px;
}

.conversation_info_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.conversation_time {
  font-size: 12px;
  color: #a6a6a6;
  flex-shrink: 0;
}

.conversation_preview {
  font-size: 12px;
  color: #a6a6a6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  display: block;
  margin-top: 4px;
}

/* THREAD */
.thread_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f3ef;
  padding: 24px;
  overflow: hidden;
}

.thread_header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.thread_pseudo {
  font-size: 16px;
  font-weight: 500;
  color: #292929;
}

.thread_messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  justify-content: flex-end;
  padding-right: 150px;
  padding-left: 44px;
}

.message_received_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.message_meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.message_bubble {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  max-width: 60%;
}

.message_sent {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.message_received {
  align-self: flex-start;
}

.message_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.message_content p {
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 14px;
  color: #292929;
  margin: 0;
}

.message_sent .message_content p {
  background-color: #eef2f6;
  color: black;
  padding: 12px 16px;
}

.message_content .message_time {
  font-size: 11px;
  color: #a6a6a6;
  display: block;
  margin-top: 4px;
  text-align: right;
}

.conversation_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.message_time {
  font-size: 11px;
  color: #a6a6a6;
  display: block;
  margin-bottom: 4px;
  text-align: right;
}
