

.logo {
    margin : 150px;
}


.header {
    background-color: #F5F3EF;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width : 100%;
}

.header_link {
    display :flex;
    list-style: none;
    color: #292929 ;
    flex-direction: row;
    padding-left : 78px;
    padding-right : 150px;
    font-family : "inter";
    font-size : 14px;
}

.header_link_left {
    gap : 44px;
}

.header_link_right {
    gap : 58px;
}

a {
     text-decoration : none;
     color: black;
}

.footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items : flex-end;
    flex-direction: row;
}

.container{
    display: flex;
    padding-right: 46px;
    gap : 40px;
    font-family: "inter";
    font-size: 12px;
}


